<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration</title>
  <%- include('partials/header') %>
  <link rel="stylesheet" href="../css/administration.css" />
</head>

<body onload="location.hash='<%= anchor %>'">
  <div class="container">
    <%- include('partials/navbar') %>
    <div class="row d-flex justify-content-center mt-5">
      <h1 class="col-5"><%= FRONTEND.TITLE_PAGE %></h1>
    </div>
    <!-- Section gestion des films -->
    <div class="row mt-5">
      <h3 class="col-5 text-decoration-underline"><%= FRONTEND.TITLE_FILM_MANAGEMENT %></h3>
    </div>
    <% if(films.list.length> 0) { %>
    <%- include('partials/film-card') %>
    <% } %>
    <div id="filmForm" class="row mt-3">
      <% if(films.displayModifyFilmForm) { %>
      <form method="post" action="<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.FILMS}/${films.filmToModify.id}` %>" class="row col-6">
        <input type="hidden" name="id" value="<%= films.filmToModify.id %>">
        <div class="mb-3 col-8">
          <label for="titleM" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.TITLE %></label>
          <input type="text" class="form-control" id="titleM" name="titleM" value="<%= films.filmToModify.title %>" />
        </div>
        <div class="mb-3 col-8">
          <label for="genresM" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.GENRE_SELECTION %></label>
          <select class="form-select" id="genresM" name="genresM[]" multiple>
            <% genres.list.forEach(genre=> { %>
            <option value="<%= genre.id %>" <%=films.filmToModify.genres.includes(genre.name) ? 'selected' : ''
                      %>>
              <%= genre.name %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3 col-8">
          <label for="posterM" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.POSTER %></label>
          <input type="text" class="form-control" id="posterM" name="posterM" value="<%= films.filmToModify.poster %>" />
          <div id="posterHelp" class="form-text"><%= FRONTEND.FILM_FORM_LIBELLE.POSTER_HELPER %></div>
        </div>
        <div class="mb-3 col-8">
          <label for="releaseDateM" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.RELEASE_DATE %></label>
          <input type="date" class="form-control" id="releaseDateM" name="releaseDateM" value="<%= films.filmToModify.releaseDate %>" />
        </div>
        <div class="mb-3 col-8">
          <label for="descriptionM" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.DESCRIPTION %></label>
          <textarea type="text" class="form-control" id="descriptionM" name="descriptionM" rows="3"><%= films.filmToModify.description %></textarea>
        </div>
        <div class="col-12 row ">
          <button type="submit" class="btn btn-primary col-5 ms-3" onclick="window.location.href='/administration/films/:id'"><%= FRONTEND.FILM_FORM_LIBELLE.UPDATE_ACTION_BUTTON %></button>
          <button class="btn btn-danger col-5 ms-3" onclick="window.location.href='/administration'"><%= FRONTEND.FILM_FORM_LIBELLE.CANCEL_BUTTON %></button>
        </div>
      </form>
      <% } else { %>
      <form method="post" action="<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.FILMS}` %>" class="row col-6">
        <div class="mb-3 col-8">
          <label for="title" class="form-label">Titre</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3 col-8">
          <label for="genres" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.GENRE_SELECTION %></label>
          <select class="form-select" id="genres" name="genres[]" multiple>
            <% genres.list.forEach(genre=> { %>
            <option value="<%= genre.id %>">
              <%= genre.name %>
            </option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3 col-8">
          <label for="poster" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.POSTER %></label>
          <input type="text" class="form-control" id="poster" name="poster" />
          <div id="posterHelp" class="form-text"><%= FRONTEND.FILM_FORM_LIBELLE.POSTER_HELPER %></div>
        </div>
        <div class="mb-3 col-8">
          <label for="releaseDate" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.RELEASE_DATE %></label>
          <input type="date" class="form-control" id="releaseDate" name="releaseDate" />
        </div>
        <div class="mb-3 col-8">
          <label for="description" class="form-label"><%= FRONTEND.FILM_FORM_LIBELLE.DESCRIPTION %></label>
          <textarea type="text" class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary w-50"><%= FRONTEND.FILM_FORM_LIBELLE.ADD_ACTION_BUTTON %></button>
        </div>
      </form>
      <% } %>
    </div>
    <% if(error.filmError) { %>
    <div class="row mt-3">
      <p>
        <%= error.filmError %>
      </p>
    </div>
    <% } %>
    <!-- Section gestion des genres de film -->
    <div class="row mt-5">
      <h3 class="col-5 text-decoration-underline"><%= FRONTEND.GENRE_FORM_LIBELLE.FORM_TITLE %></h3>
    </div>
    <div class="row mt-3">
      <% if(genres.list && genres.list.length> 0) { %>
      <ul id="liste-genre" class="list-group list-group-flush col-4">
        <% genres.list.forEach(genre=> { %>
        <li class="list-group-item list-group-item-action d-flex justify-content-between">
          <span>
            <%= genre.name %>
          </span>
          <div class="unactivated">
            <i class="fa-solid fa-arrow-left"></i>
          </div>
          <div class="d-none action">
            <button class="btn btn-alert btn-sm" onclick="window.location.href='<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.GENRES}/${genre.id}` %>'"><%= FRONTEND.GENRE_FORM_LIBELLE.DELETE_BUTTON_LIBELLE %></button>
            <button class="btn btn-alert btn-sm" onclick="window.location.href='<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.GENRES}/${VIEW_LIBELLE.UPDATE}/${genre.id}` %>'"><%= FRONTEND.GENRE_FORM_LIBELLE.UPDATE_BUTTON_LIBELLE %></button>
          </div>
        </li>
        <% }); %>
      </ul>
      <% } %>
    </div>
    <div id="genreForm" class="row mt-3">
      <% if(genres.displayModifyGenreForm) { %>
      <form method="post" action="<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.GENRES}/${genres.genreToModify.id}` %>" class="row col-4">
        <input type="hidden" class="form-control" id="id" name="id" value="<%= genres.genreToModify.id %>" />
        <div class="mb-3 col-8">
          <input type="text" class="form-control" id="nameM" name="nameM" value="<%= genres.genreToModify.name %>" />
        </div>
        <div class="col-12 row ">
          <button type="submit" class="btn btn-primary col-5 ms-3" onclick="window.location.href='<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.GENRES}/${VIEW_LIBELLE.UPDATE}/:id` %>'"><%= FRONTEND.GENRE_FORM_LIBELLE.UPDATE_ACTION_LIBELLE %></button>
          <button class="btn btn-danger col-5 ms-3" onclick="window.location.href='<%= `/${VIEW_LIBELLE.ADMINISTRATION}` %>'"><%= FRONTEND.FILM_FORM_LIBELLE.CANCEL_BUTTON %></button>
        </div>
      </form>
      <% } else { %>
      <form method="post" action="<%= `/${VIEW_LIBELLE.ADMINISTRATION}/${VIEW_LIBELLE.GENRES}` %>" class="row col-4">
        <div class="mb-3 col-8">
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary w-50"><%= FRONTEND.GENRE_FORM_LIBELLE.ADD_BUTTON_LIBELLE %></button>
        </div>
      </form>
      <% } %>
    </div>
    <% if(error.genreError) { %>
    <div class="row mt-3">
      <p>
        <%= error.genreError %>
      </p>
    </div>
    <% } %>
  </div>
</body>

</html>