<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/header') %>
  <link rel="stylesheet" href="../css/authentification.css" />
  <title><%= title %></title>
</head>

<body>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-4 d-flex justify-content-center">
        <h1 class="m-5"><%= title %></h1>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4 d-flex justify-content-center">
        <% if(form === VIEW_LIBELLE.INSCRIPTION) { %>
        <form method="post" class="row">
          <div class="mb-3">
            <label for="lastnameI" class="form-label"><%= AUTHENTIFICATION_LIBELLE.LASTNAME %></label>
            <input type="text" class="form-control" id="lastnameI" name="lastnameI" />
          </div>
          <div class="mb-3">
            <label for="firstnameI" class="form-label"><%= AUTHENTIFICATION_LIBELLE.FIRSTNAME %></label>
            <input type="text" class="form-control" id="firstnameI" name="firstnameI" />
          </div>
          <div class="mb-3">
            <label for="emailI" class="form-label"><%= AUTHENTIFICATION_LIBELLE.EMAIL %></label>
            <input type="email" class="form-control" id="emailI" name="emailI" />
          </div>
          <div class="mb-3">
            <label for="passwordI" class="form-label"><%= AUTHENTIFICATION_LIBELLE.PASSWORD %></label>
            <input type="password" class="form-control" id="passwordI" name="passwordI" />
            <div id="emailHelp" class="form-text"><%= AUTHENTIFICATION_LIBELLE.PASSWORD_HELPER %></div>
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary w-50"><%= AUTHENTIFICATION_LIBELLE.INSCRIPTION_ACTION_BUTTON %></button>
          </div>
        </form>
        <% } %>
        <% if(form === VIEW_LIBELLE.LOGIN) { %>
        <form method="post" class="row">
          <div class="mb-3">
            <label for="emailC" class="form-label"><%= AUTHENTIFICATION_LIBELLE.EMAIL %></label>
            <input type="email" class="form-control" id="emailC" name="emailC" />
          </div>
          <div class="mb-3">
            <label for="passwordC" class="form-label"><%= AUTHENTIFICATION_LIBELLE.PASSWORD %></label>
            <input type="password" class="form-control" id="passwordC" name="passwordC" />
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary w-50"><%= AUTHENTIFICATION_LIBELLE.CONNEXION_ACTION_BUTTON %></button>
          </div>
        </form>
        <% } %>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
      <a class="col-6 text-center text-decoration-none" href=<%= currentRoute === `/${VIEW_LIBELLE.INSCRIPTION}` ? VIEW_LIBELLE.LOGIN : VIEW_LIBELLE.INSCRIPTION %>>
        <%= currentRoute === `/${VIEW_LIBELLE.INSCRIPTION}` ? AUTHENTIFICATION_LIBELLE.LINK_LOGIN_LIBELLE : AUTHENTIFICATION_LIBELLE.LINK_INSCRIPTION_LIBELLE %>
      </a>
    </div>
    <% if(errors !== [] && errors.length > 0){ %>
    <div class="row mt-3 d-flex justify-content-center ms-4">
      <ul class="list-group list-group-flush col-5">
        <% errors.forEach(error => { %>
        <li class="list-group-item border-0"><%= error %></li>
        <% }); %>
        <% } %>
      </ul>
    </div>
  </div>
</body>

</html>