<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favoris</title>
  <%- include('partials/header') %>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar') %>
    <div class="row d-flex justify-content-center mt-5">
      <h1 class="col-3"><%= FAVORI_LIBELLE.TITLE %></h1>
    </div>
    <%- include('partials/suppress-modal') %>
    <% if(films.length> 0) { %>
    <%- include('partials/film-card.ejs') %>
    <% } %>
  </div>
</body>

</html>